@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  height: 100%;
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }